section.s-advantages
  .container
    .advantages.row
      .advantages__item.advantages__item--bg-gray.col-md-6
        .advantages__inner
          img(src="static/images/content/icon-request.png", alt="").advantages__icon
          h3.advantages__title Request
          p Request your rates, <br>24X7
      .advantages__item.col-md-6
        .advantages__inner
          img(src="static/images/content/icon-quote.png", alt="").advantages__icon
          h3.advantages__title Quote
          p Receive quotations <br>with different options
      .advantages__item.col-md-6
        .advantages__inner
          img(src="static/images/content/icon-book.png", alt="").advantages__icon
          h3.advantages__title Book
          p Click on the selected option <br>and book instantly online
      .advantages__item.advantages__item--bg-gray.col-md-6
        .advantages__inner
          img(src="static/images/content/icon-track.png", alt="").advantages__icon
          h3.advantages__title Track
          p Request your rates, <br>24X7
      .advantages__item.advantages__item--bg-gray.col-md-6
        .advantages__inner
          img(src="static/images/content/icon-analyse.png", alt="").advantages__icon
          h3.advantages__title Analyse
          p Access volume, financial <br>and performance reports <br>online to analyse and <br>monitor your business
      .advantages__item.advantages__item--img.col-md-6
        img(src="static/images/content/img-2.jpg", alt="")