section.s-blog
  .container
    .blog-prev.row
      .blog-prev__item.col-lg-6
        .blog-prev__inner(style="background-image: url('static/images/content/blog-prev-1.jpg')")
          .blog-prev__cat
            a(href="#") _sucess stories.
          h3.blog-prev__title
            a(href="#") Hear how other companies are using NeoLink every day. 
          a(href="#").blog-prev__more _ discover more
      .blog-prev__item.col-lg-6
        .blog-prev__inner(style="background-image: url('static/images/content/blog-prev-2.jpg')")
          .blog-prev__cat
            a(href="#") _get started.
          h3.blog-prev__title
            a(href="#") Bridge the gaps throughout your logistics chain with our global network
          a(href="#").blog-prev__more _ discover more

// /.s-blog