section(style="background-image: url('static/images/content/offer-bg.jpg')").s-offer
  .container
    .offer.row
      .col-xl-6.offset-xl-1
        h2.offer__title Air Freight
        .offer__content
          p _see what we have to offer.
          ul
            li
              a(href="#") _Project cargo
            li
              a(href="#") _Time critical
            li
              a(href="#") _Charter services
            li
              a(href="#") _Ground handling

        p.offer__note <strong>Our commitment</strong> to solve your logistics problem and raise your expectation through our industry’s best digital freight solution, taking your businesses to the next level.
      .col-xl-5.offer__right
        .offer__block
          p _get in touch.
          h3.offer__block-title Learn how we can improve your airfreight service.
          a(href="#").offer__block-link _ get in touch

// /.s-offer