section.s-review
  .container
    .s-review__wrap
      .review.swiper-container
        .swiper-wrapper
          .review__item.swiper-slide
            .review__content
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            p.review__position CEO
            p.review__bottom
              span.review__name Motion Supply
              a(href="#").review__link _Read Case Study
          .review__item.swiper-slide
            .review__content
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            p.review__position CEO
            p.review__bottom
              span.review__name Motion Supply
              a(href="#").review__link _Read Case Study
          .review__item.swiper-slide
            .review__content
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            p.review__position CEO
            p.review__bottom
              span.review__name Motion Supply
              a(href="#").review__link _Read Case Study
        .swiper-pagination


// /.s-review