section.section-steps
  .container

    .section-steps__list.row
      .section-steps__item.section-steps__item--img.col-lg-6
        img(src="static/images/content/img-1.jpg", alt="").img-1
        img(src="static/images/general/icon-box.png", alt="").icon-1
      .section-steps__item.col-lg-5.offset-lg-1
        .section-steps__count <span>_</span>01
        p Manage all air and sea freight requirements via one centralised system. Enables you to log on to enter rate requests, instant quotations, booking confirmations, invoices, product, order information, calendars, chat functionality, contacts, etc.;
      .section-steps__item.col-lg-5.offset-lg-7
        .section-steps__count <span>_</span>02
        p View all orders with a comprehensive, easy to use dashboard, customized to individual employee requirements. Understand total landed costs from initial order to final delivery;
      .section-steps__item.col-lg-5.offset-lg-1
        .section-steps__count <span>_</span>03
        p Track global orders and shipments end-to-end at any point in time with customised milestones – from initial order placement, ex-factory, departure port, customs clearance and arrival;
      .section-steps__item.section-steps__item--mb-b.col-lg-5.offset-lg-1
        .section-steps__count <span>_</span>04
        p Receive alerts on pending and active shipments – notifying you of the cause and effect of incidents or exceptions, including downstream impacts, that will enable you to be proactive and take action;
      .section-steps__item.section-steps__item--number-left.section-steps__item--mb-s.col-lg-7.offset-lg-3
        .section-steps__count <span>_</span>05
        p Implement management controls and reporting for updates and notifications;
      .section-steps__item.section-steps__item--number-left.col-lg-7.offset-lg-3
        .section-steps__count <span>_</span>06
        p Establish key performance indicators for your operations;

  .images-grid
    img(src="static/images/content/image-grid.png", alt="")

  .container
    .section-steps__list.row
      .section-steps__item.col-lg-4.offset-lg-1
        .section-steps__count <span>_</span>07
        p Access and monitor detailed reporting on volume, financial information and performance metrics on suppliers and trade lanes that are important for your business;
      .section-steps__item.col-lg-4
        .section-steps__count <span>_</span>08
        p Analyse channels and spend to optimize time and cost performance. Monitor and understand your business expenditure and volume by product, trade route or carrier;
      .section-steps__item.mt-280.col-lg-3
        .section-steps__count <span>_</span>09
        p Use insights to foresee potential time and cost implications. Identify and implement alternative solutions scenarios in real time to improve operational efficiencies.


  .section-steps__bg
  .section-steps__bg-2
  img(src="static/images/general/icon-planet.png", alt="").icon-2
  img(src="static/images/general/icon-box-clock.png", alt="").icon-3

// /.section-steps