section.section-text
  .container
    .row
      .col-md-6.col-xl-5.offset-xl-1
        .section-text__left
          .text-28
            p NeoLink brings you efficiency and convenience of self-service 24X7, no time difference, <br>no down time.
      .col-md-6.col-xl-5.offset-xl-1
        .section-text__right
          p Sending rate requests with the expectation of receiving numerous quotations for comparison. With just a click on the selected quotation to make your booking online.
          p With the same login, you can track your shipment online and analyse the matrix reports generated from the system.
