section.s-services
  .container
    .services
      .services__item
        span.services__title International freight transport
        span.services__subtitle (land, air and sea)
      .services__item
        span.services__title Cargo consolidations <br>and de-consolidations 
      .services__item
        span.services__title Containerization
      .services__item
        span.services__title Pickups and deliveries
      .services__item
        span.services__title Customs clearance
      .services__item
        span.services__title Warehousing
      .services__item
        span.services__title Packaging and preparation
        span.services__subtitle (stock control)
      .services__item
        span.services__title Stevedoring
      .services__item
        span.services__title Chartering 
        span.services__subtitle (road, sea and air)
      .services__item
        span.services__title Projects 
        span.services__subtitle ("Turnkey"; Large project studies; Design and supervision of complex shipments; Site recognition; Analysis transport options; Ship chartering)

    .services__icon
      img(src="static/images/content/optimise-icon.png", alt="")
    
    img(src="static/images/content/img-3.jpg", alt="").img-3
    .services__img
      img(src="static/images/content/img-4.jpg", alt="")

// /.s-services