section.section-text
  .container
    .row
      .col-md-6.col-xl-5.offset-xl-1
        .section-text__left
          .text-28
            p Optimise your supply chain with NeoLink, powered by Logfret. The challenge of managing global supply chains, with multiple sources and suppliers, fragmented shipment channels, and varied timeframes and costs. That is why we have developed NEOLink to support all your different needs.
      .col-md-6.col-xl-5.offset-xl-1
        .section-text__right
          p NEOLink is leading the digital freight forwarding industry. Logfret is committed to provide exceptional services as follow to help you to meet your increasing complexity and challenges within your supply chain.