section.section-text
  .container
    .row
      .col-md-6.col-xl-5.offset-xl-1
        .section-text__left
          .text-28
            p Logfret is an international freight forwarding company comprised of 190 offices and agencies in over 65 countries.
      .col-md-6.col-xl-5.offset-xl-1
        .section-text__right
          p We know that each and every shipment represents both all the effort that went into the creation of the goods you're sending, as well as the expectations of the recipients of those goods. A guiding principle that has earned us a reputation as the best resource for secure and competitive transport of any shipment by land, sea and air.
      .col-md-6.col-xl-5.offset-xl-1
        .section-text__block-icon
          img(src="static/images/content/digital-icon.png", alt="")
      .col-xl-9.offset-xl-1
        h3.font-m.text-28 The New Digital Freight Forwarder!
        p Once only a subheading under transportation, logistics has become the buzzword of business. And, as the world is getting smaller and transparent, the challenge and demand for every industry, particularly logistics, is to provide speed, transparency and efficiency. As your freight partner, we strive hard to find a quick enough and appropriate response. The solution to this equation lies before our eyes: TECHNOLOGY!
        p Digital freight forwarding is not a rumor! The industry has changed. The pace is accelerating, the digital race is now well underway. Logfret has continually adapting and moving ahead of the changes at full speed, creating NEOLink. 
        p NEOLink, powered by Logfret, is a supply chain logistics system that gives you global visibility of your cargo (track your shipment), enabling you to view, analyze and optimize your shipments, getting a quote in real time. Provide efficiency and convenience of self-service 24X7, no time difference, no down time. 
        p Logfret incorporates flexible, cost efficient, quality-controlled services that complies with all international rules and regulations. We have added the most up-to-date information technologies to secure your orders.
        p Founded in Europe in the early 1970's by Jean-Francois Millet, the company has grown under his keen insight and supervision. Now family owned and internationally operated by his two sons -- Marc Millet runs the European, Middle Eastern and Asian divisions, while Christian Millet spearheaded growth in North and South America.
        p Working across oceans and cultures has its own challenges. Logfret has invested in its growth and in the range of services it provides. Its size, profile and network are perfect for the demands of the new millennium. Logfret supports industrial companies and manufacturers with a worldwide network servicing both Fortune 500 Corporations and small to mid-sized companies. Each project is handled in a confidential and professional manner, strengthening Logfret's reputation daily.

      .col-xl-10.offset-xl-1
        .section-text__map
          .section-text__map-left
            p.text-28 Logfret comprises of 190 offices and agencies in over 65 countries on six continents as follow:
            ul
              li North America
              li Central and South America
              li Western and Eastern Europe
              li The Middle East
              li Asia
              li Africa
          .section-text__map-right
            img(src="static/images/content/s-map.png", alt="")

      .col-xl-9.offset-xl-1
        p We understand the increasing global demands on getting your products delivered on time, every time. 
        p We know that your business has pressure to succeed. You should be concentrating on your core services and products. Leave the entire supply chain process to your freight partner, NeoLink to do the job for you.
        p For more information about NeoLink, powered by Logfret or to arrange a live demonstration, contact us today at <a href="mailto:aneo@logfret.com">aneo@logfret.com</a>