section.s-benefits
  .container
    .benefits__left
      .services__icon
        span.services__icon-title Benefits from working <br>with Logfret:
        img(src="static/images/content/benefits-icon.png", alt="")

    .benefits__right
      .services
        .services__item
          span.services__title Excellent technical support
        .services__item
          span.services__title Better visibility of shipments <br>and customer service
        .services__item
          span.services__title One customer portal – NEOLink
        .services__item
          span.services__title Global presence <br>with local expertise

// /.s-services