section.summary
  .container
    .row
      .summary__left.bg-d-gray.col-md-6
        .summary__row
          h3.summary__title Challenge Summary:
          p Ensure system was flexible to meet customer’s business demands and changes globally
        .summary__row
          h3.summary__title Services & Technologies Used:
          ul
            li Freight Forwarding: Ocean and Air exports and import
            li Customhouse Brokerage
            li NEOLink, powered by Logfret <br>(Customer Service Portal)
            li Remote Location Filing (RLF)
            li Global presence of Logfret

      .summary__right.col-md-6
        img(src="static/images/content/img-5.jpg", alt="")