section.section-text
  .container
    .row
      .col-md-6.col-xl-5.offset-xl-1
        .section-text__left
          .text-28
            p One centralized platform with end-to-end supply chain visibility – giving you valuable insight for real time decision making
      .col-md-6.col-xl-5.offset-xl-1.mb-130
        .section-text__right.section-text__right--float
          .section-text__right-inner
            h3 Case study.
            p Efficiency and convenience of self-service 24X7,no time difference, no down time.
      .col-xl-10.offset-xl-1
        h3.font-m.text-28 Challenge:
        p The customer was one of the leading manufacturers in manufacturing pumps. Be it a liquid or gas, customer could move it for their customers—anywhere, any way, any time—everything from water distribution and water treatment and filtration to irrigation, oil and gas, chemicals and chemical processing, as well as automotive needs.
        p It was critical to know where the shipments were for their customers at all times. The specialized manufacturer has 65 facilities worldwide therefore it was important to ensure that their customers’ products were easily located, regardless of the origin of shipments in the supply chain. 

include summary

section.section-text
  .container
    .row
      .col-xl-9.offset-xl-1
        h3.font-m.text-28 Solutions:
        p During 2000, the customer established a relationship with Logfret for the company’s North American business. Logfret was handling the majority of the ocean and air exports, imports, and brokerage activity, between the company’s US-UK and US-Asia operations. Logfret was either directly processing their end-customers’ orders, or relying on Logfret to handle transportation arrangements through their resources.
        p Customer was confident in the quality of freight / shipment information and updates from NEOLink (customer service portal), powered by Logfret. Logfret always put the customer’s needs ahead of everything else, where no price can tag on it. Customer was very impressed with the level of information that NEOLink generated/ provided as well as the services that Logret has topped on it.
        p NEOLink worked with customers’ order processing systems. It did not replaced them or try to force a square peg solution into a round hole. It was what Logfret did better than the competition—their system flexed to match the customer’s system. Logfret did not go in and say, "This is what we have, like it or not."
        p No one out there in the market has anything that came close to NEOLink. It enabled customer to do real-time online tracking, which delivered needed visibility of their freight movements. Its safety features also protected the customer through the compliance programs, simplification and standardization of documents worldwide, allowing them to generate or print invoices, anytime, any where in the world.
        p Logfret’s global position and presence, together with NEOLink added in one major benefit for our customers.
        p Walked into a Logfret office in Singapore, for example, and it looked very similar to the company’s offices in Paris, France, Indianapolis, Los Angeles, New York, or any other Logfret’s office locations. The same system, a similar office environment. The reason was simple: the consistency gave so much control to the customer. Logfret made the commitment because we saw it as a priority to meet our customers’ needs. And as a privately-owned company, we were able to aggressively fund system improvements.
        p This got back to the vision that Logfret has. Many customers used to say that Logfret was in the freight business, not the systems business, and if they need a system elsewhere, they will bridge it with another system. Any shipper who looked at forwarders will quickly see how unsuccessful it was to try to bridge two systems. That has been the key to Logfret’s success and a major benefit to our customers. Logfret has never tried to bridge systems cos our system were consistent throughout the world. 
        img(src="static/images/content/img-6.jpg", alt="")

        h3.font-m.text-28 What a customer wants?
        p Like all shippers with global operations, they looked for reliability in all of its activities. They particularly appreciate that Logfret has always been extremely proactive. Customer could count on Logfret to look for potential problems, instead of just solving problems.
        p Logfret worked with customer, not the other way around. For example, another 3PL provider came along and told customer everything they could do. So customer drilled down and asked, "Can you perform xyz service in a way that flexed to our existing internal practice?" Their answer was, ‘Sure, anything you want, as long as you do it our way."
        p It is very important for customer to be able to work with a local presence overseas. The advantage of a freight forwarder like Logfret is that if we have an overseas agent that does not perform to our standards, Logfret helped to find another solution.
        p Logfret’s services for this specialized manufacturer were centralized through the Indianapolis office, providing better management of the Remote Location Filing (RLF) requirements, and maintaining a data hub for all of customer’s import / export transaction files.
        p RLF is important and going forward will be even more important. Customer has many facilities in the US and all of them have import capabilities. It’s also important for NAFTA compliance. They did a lot of inter-company business between companies in Mexico, Canada and the US. For instance, in Mexico manufactures parts, which were shipped to Canada for machining purposes at one of their sister plants, and then to the US.
        p A seamless moved through one office and one brokerage facility was vital. And the more they import, the more important it became to make sure they have a central location for clearance and an effective way to maintain complete import transaction files. 