@import 'lang'
@import 'logo'
@import 'section'


// Border bottom
.bd-b
  padding-bottom: 95px
  border-bottom: 1px solid $mystic
  +r(767)
    padding-bottom: 50px

.text-28
  font-size: 28px
  font-weight: 400
  color: $shark
  +r(1200)
    font-size: 22px

.font-m
  font-weight: 500

.mb-285
  margin-bottom: 258px
.mb-130
  margin-bottom: 130px
  +r(767)
    margin-bottom: 50px
.mb-70
  margin-bottom: 70px

.mt-280
  margin-top: 280px
  +r(1200)
    margin-top: 150px
  +r(992)
    margin-top: 0

.swiper-pagination
  &-bullet
    width: 35px
    height: 4px
    border-radius: 0
    background-color: $main-color
    opacity: 1
    &-active
      background-color: $accent

.swiper-btn-wrap
  position: absolute
  bottom: 0
  left: 0
  right: 0
  display: flex
  align-items: center
  justify-content: center
  .swiper-button-next,
  .swiper-button-prev
    position: static
    margin: 0
  .swiper-button-prev
    margin-right: 60px

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
  margin: 0 20px 0 0
.swiper-button-next
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyMi4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSIxMDUuN3B4IiBoZWlnaHQ9IjIxMC41cHgiIHZpZXdCb3g9IjAgMCAxMDUuNyAyMTAuNSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTA1LjcgMjEwLjU7IiB4bWw6c3BhY2U9InByZXNlcnZlIg0KCT4NCjxwYXRoIGQ9Ik04MywxMDQuM2MwLDAtNTcuMy02NC45LTgzLTkzLjdDNCw3LjEsNy44LDMuNywxMiwwYzMxLjMsMzUuMiw2Mi40LDcwLjEsOTMuNywxMDUuM0M3NC40LDE0MC40LDQzLjQsMTc1LjIsMTIsMjEwLjUNCgljLTQtMy41LTcuOS03LTEyLTEwLjZDMjUuNiwxNzEuMiw4MywxMDQuMyw4MywxMDQuM3oiLz4NCjwvc3ZnPg0K')
  &:focus
    outline: none
.swiper-button-prev
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyMi4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSIxMDUuN3B4IiBoZWlnaHQ9IjIxMC41cHgiIHZpZXdCb3g9IjAgMCAxMDUuNyAyMTAuNSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTA1LjcgMjEwLjU7IiB4bWw6c3BhY2U9InByZXNlcnZlIg0KCT4NCjxwYXRoIGQ9Ik0yMi43LDEwNi4yYzAsMCw1Ny4zLDY0LjksODMsOTMuN2MtNCwzLjUtNy44LDYuOS0xMiwxMC42QzYyLjQsMTc1LjQsMzEuMywxNDAuNSwwLDEwNS4yQzMxLjMsNzAuMSw2Mi4yLDM1LjMsOTMuNywwDQoJYzQsMy41LDcuOSw3LDEyLDEwLjZDODAuMSwzOS4zLDIyLjcsMTA2LjIsMjIuNywxMDYuMnoiLz4NCjwvc3ZnPg0K')
  &:focus
    outline: none

.copyright
  margin: 0
  font-size: 18px
  font-weight: 400
  color: $woodsmoke
  text-align: right
  +r(992)
    text-align: center
  +r(767)
    font-size: 16px
  a
    color: inherit
    &:hover, &:focus
      color: $accent