extends template/main

block variables
  - var title = 'Digital'
  - var pageClass = ''

block content
  include pages/digital/hero
  include pages/digital/text-section
  include pages/optimise/blog
  include pages/optimise/review
  include pages/optimise/offer
  include pages/optimise/partner