extends template/main

block variables
  - var title = 'Optimise'
  - var pageClass = ''

block content
  include pages/optimise/hero
  include pages/optimise/text-section
  include pages/optimise/section-steps
  include pages/optimise/blog
  include pages/optimise/review
  include pages/optimise/offer