extends template/main

block variables
  - var title = 'Optimise 2'
  - var pageClass = ''

block content
  include pages/optimise-2/hero
  include pages/optimise-2/text-section
  include pages/optimise-2/services
  include pages/optimise/blog
  include pages/optimise/review
  include pages/optimise/offer
  include pages/optimise/partner