extends template/main

block variables
  - var title = 'Streamline'
  - var pageClass = ''

block content
  include pages/streamline/hero
  include pages/streamline/text-section
  include pages/streamline/section-steps
  include pages/optimise/blog
  include pages/optimise/review
  include pages/optimise/offer
  include pages/optimise/partner