extends template/main

block variables
  - var title = 'Systems'
  - var pageClass = ''

block content
  include pages/systems/hero
  include pages/systems/text-section
  include pages/systems/benefits
  include pages/optimise/blog
  include pages/optimise/review
  include pages/optimise/offer
  include pages/optimise/partner