article.article
  .container
    .article__top
      p The end of 'business as usual' for logistics <br>as digitisation and the disruptors arrive
    .article__row
      .article__content
        p The global logistics industry is at a crucial point in its development, according to a new report.
        p The international freight forwarding sector is facing a series of new challenges, <strong>which only the most adaptable companies will be able to meet,</strong> says the report from Transport Intelligence (Ti).
        p Total Logistics 2018, notes that not only are there external pressures raging from the obvious – economy, politics, security and society – but also <strong>disruptive forces, triggered for the most part by new technology.</strong>
        p "The global economic environment has remained volatile and difficult to anticipate," it points out, adding that doubts have also been cast over the sustainability of globalisation, the bedrock of logistics.
        p Nevertheless, it is a sector worth sticking with, it believes.
        p In 2017, the size of the market was some $5trn, with road freight taking the lion’s share of about one-third of the total spend. Contract logistics accounted for nearly another third, global parcels accounted for 6% and rail freight took 4%.
        p But the report adds: "Perhaps surprisingly, the air freight and containerised sea freight sectors, allied with associated forwarding operations, also [combined] only account for approximately 4% of global spend.""
        p Between 2017 and 2021, Ti estimates that the total global market will have a compound annual growth rate of 5.1% – although each sector’s growth will vary, with contract logistics and freight forwarding growing at a slower pace than global parcels, for example.
        p In the shorter term, after a long recent period of weakness, air and sea freight rates are beginning to rise as capacity tightens, which will likely affect freight forwarders’ profitability – owing to the "counter-cyclical" business model. In addition, an increased use of regional trade blocs will favour road-based transport and, particularly in Asia, low-value and low-margin shipping. Combined with near-sourcing, supply chains will get shorter.
        p But alongside, ‘normal’ market dynamics are the disruptors.

        .article__img-wrap
          img(src="static/images/content/article-img.png", alt="")
          img(src="static/images/content/icon-calendar.png", alt="").article__img-icon

        p "The forwarding sector has always dealt with uncertainty and volatility well – that is the nature of the job. However, it also faces longer-term structural challenges, which will prove more difficult to deal with," notes Ti.
        p
          strong 2018, it predicts, will see customers increasingly demanding real-time information, quotes and visibility. You’ll lose out if you don’t invest in this technology, it warns.
        p Ti also points to the new bogeymen in the market: "unburdened with legacy systems… building their entire customer offering around the latest technologies". As Ti states, it’s the end of business as usual.
        p
          strong The first stage of change will be the continuation of the digitisation of the industry, with big data making processes more efficient. The second stage is marked by disruption, which the transport market could be particularly susceptible to.
        p "The problem is that the transport industry is split into silos of unitised transport capacity: private fleets of vehicles. The allocation of these resources is only as good as the access of each individual company to demand.
        p
          strong "The development of platforms that can match supply and demand by providing a closer-to-perfect market than presently exists could deliver huge value, which presently lies latent."
          | <br>Then comes demonetisation.
        p
          strong "If disruptive technology providers are able to allow shippers to access the vast pool of owner-drivers that exists in every country in the world, they would be able to benefit from vastly lower costs. This would create the environment for the final stage of disruption – ‘democratisation’."
        p In this thorough report, looking at regions, logistics by mode, by commodity, contract and freight forwarding, and express and ecommerce, Ti concludes: <strong>"The logistics and supply chain industry is at the nexus of a multitude of demand-side trends and disruptive technology innovations, which will create a transformation in the way products are shipped, stored and delivered."</strong>

      .article__right
        time(datetime="2018-01-17").article__publish 17.01.2018
        p.article__source Source: The Loadstar