section.section-text
  .container
    .bd-b
      .row
        .col-md-6.col-xl-5.offset-xl-1
          .section-text__left
            .text-28
              p Improve and optimise your business productivity and profitability – to gain a competitive advantage on your competition.
        .col-md-6.col-xl-5.offset-xl-1
          .section-text__right
            p Customise the system for your own business needs, including the ability to tailor system access based on team member roles and responsibilities. Streamline processes and forget legacy systems, excel spreadsheets, continued re-input manual data entry and multiple printed documents.
