footer.footer
  .container
    .footer__col.footer__col--1
      a(href="./").logo.footer__logo
        img(src="static/images/general/logo.svg", width="220" alt="")
      .footer__desc
        p Lorem ipsum dolor sit amet consectetur adipiscing eli
        a(href="tel:+1234567891") P: +1 2 3456 7891
    .footer__col.footer__col--2
      ul.footer__nav
        li
          a(href="#") Home
        li
          a(href="#") What do we do?
        li
          a(href="#") Who do we serve?
        li
          a(href="#") Logfret Global Network
        li
          a(href="#") Track your shipment
        li
          a(href="#") Get a quote
        li
          a(href="#") NeoLink

      ul.footer__nav
        li
          a(href="#") History
        li
          a(href="#") Awards and Certifications
        li
          a(href="#") News
        li
          a(href="#") Contact us
        li
          a(href="#") Get social
    .footer__col.footer__col--3
      form(action="" method="post").subscribe-form.footer__subscribe-form
        span.subscribe-form__title _newsletter
        .form-group
          input(type="email", name="email", placeholder="E-mail Address")
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .form-group.form-group--btn
          input(type="submit", value="_subscribe")

      p.copyright &copy; 2018 Logfret Pty Ltd | Terms and Conditions