section.s-blog.s-p
  .container
    .blog
      .blog__img
        img(src="static/images/content/blog-prev-3.jpg", alt="")
        .blog__info
          time(datetime="2018-12-12").blog__publish 12/12/2018
          p.blog__cat Tips on how to do logistics
      .blog__right
        .section-head
          h2.section-title Blog
        .blog__content
          h3.blog__title _Optimized 4PL?
          p Optimise your supply chain with Logfret. The challenge of managing global supply chains, with multiple sources and suppliers, fragmented shipment channels, and varied timeframes and costs. 
          a(href="#").blog__link _ learn more
