section.s-case
  .container
    h2.section-title Case studies
  .case.swiper-container
    .swiper-wrapper
      .case__item.swiper-slide(style="background-image: url('static/images/content/case-1.jpg')")
        .container
          .case__row
            .case__col.case__col--black
              p.case__text Efficency and convenience of self-service 24x7
            .case__col
              .case__content
                span.case__title Challenge Summary:
                p Ensure system was flexible to meet customer’s business demands and changes globally
                a(href="#").case__more _ discover more
      .case__item.swiper-slide(style="background-image: url('static/images/content/case-2.jpg')")
        .container
          .case__row
            .case__col.case__col--black
              p.case__text Efficency and convenience of self-service 24x7
            .case__col
              .case__content
                span.case__title Challenge Summary 2:
                p lorem ipsum dolor
                a(href="#").case__more _ discover more
    .container
      .swiper-btn-wrap
        .swiper-button-prev
        .swiper-button-next