section.first-screen(style="background-image: url('static/images/content/first-bg.jpg')")
  .container
    .row
      .col-lg-4.first-screen__col
        .first-screen__content
          span.first-screen__suptitle _we are
          h1.first-screen__title Global logistic company
          p Moving world’s leading brands globally by Air, Ocean and Land. NeoLink, the industry’s best digital freight solution and our dedicated experts give you accountability, flexibility, and control over your supply chain.

      .col-lg-4.col-md-6.first-screen__col
        a(href="#").first-screen__item
          span.first-screen__item-title Track and trace
          span.first-screen__item-desc Enter your shipment number.
        a(href="#").first-screen__item
          span.first-screen__item-title NeoLink
          span.first-screen__item-desc Sign in / Sugn up for NeoLink.

      .col-lg-4.col-md-6.first-screen__col
        a(href="#").first-screen__item
          span.first-screen__item-title Get my Quote 
          span.first-screen__item-desc Receive instant quotations with numerous options