section.s-neolink.s-p
  .container
    .section-head
      h2.section-title NeoLink
      .section-desc
        p Your digital freight solutions

    .row.neolink
      .col-lg-6
        .neolink__card(style="background-image: url('static/images/content/neolink-card-1.jpg')")
          img(src="static/images/content/neolink-logo.svg", alt="")
          span.neolink__card-title A Centralised System for <br>Real-Time Decision
          p With NeoLink, you have one centralised platform with end-to-end supply chain visibility – giving you valuable insight for real time decision making.
          a(href="#").neolink__card-more _ discuss more
      .col-lg-6
        .neolink__feature.clearfix
          span.neolink__feature-label _NeoLink features.
          h3.neolink__feature-title Optimise your supply chain with NeoLink

          .neolink__feature-row.swiper-container
            .swiper-wrapper
              .neolink__feature-item.swiper-slide
                .neolink__feature-item-icon-wrap
                  img(src="static/images/content/icon-24.svg", alt="").neolink__feature-item-icon
                span.neolink__feature-item-title REQUEST
                p.neolink__feature-item-desc Request your rates, 24X7
              .neolink__feature-item.swiper-slide
                .neolink__feature-item-icon-wrap
                  img(src="static/images/content/icon-safe.svg", alt="").neolink__feature-item-icon
                span.neolink__feature-item-title QUOTE
                p.neolink__feature-item-desc Receive quotations with different options
              .neolink__feature-item.swiper-slide
                .neolink__feature-item-icon-wrap
                  img(src="static/images/content/icon-24.svg", alt="").neolink__feature-item-icon
                span.neolink__feature-item-title REQUEST
                p.neolink__feature-item-desc Request your rates, 24X7
              .neolink__feature-item.swiper-slide
                .neolink__feature-item-icon-wrap
                  img(src="static/images/content/icon-safe.svg", alt="").neolink__feature-item-icon
                span.neolink__feature-item-title QUOTE
                p.neolink__feature-item-desc Receive quotations with different options
            .swiper-btn-wrap
              .swiper-button-prev
              .swiper-button-next

          a(href="#").neolink__link _  WHY NeoLink?

// /.s-neolink