section.s-network
  .container
    .network
      .network__left
        h3.network__title _Logfret Global Network
        p Connecting to the digital world to find your freight solutions to take your business to the next level.
        .network__btn-wrap
          a(href="#").network__link _ discover more

      .network__right
        p.network__ww <span>65</span> countries worldwide

        form.network__form
          h3.network__title _select region
          .form-group
            input(type="text" name="country" placeholder="North America", required)
            button(type="submit").network__form-btn _go.