section.s-review.bg-d-gray
  .container
    .s-review__wrap.s-review__wrap--home
      .review.review--home.swiper-container
        .swiper-wrapper
          .review__item.swiper-slide
            .review__content
              p Our commitment to solve your logistics problem and raise your expectation through our industry’s best digital freight solution, taking your businesses to the next level.
              p.review__note Global freight forwarding has never been that simple!
          .review__item.swiper-slide
            .review__content
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              p.review__note Global freight forwarding has never been that simple!
          .review__item.swiper-slide
            .review__content
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              p.review__note Global freight forwarding has never been that simple!
        .swiper-pagination


// /.s-review