section.s-said
  .container
    img(src="static/images/content/img-7.jpg", alt="").said__img
    .said
      .said__content
        span.said__suptitle as we said.
        h3.said__title It’s always more than a goods in a box.
        a(href="#").said__link _ get in touch