section.s-services-prev.s-p
  .container
    .section-head
      h2.section-title Services

  .services-prev.swiper-container
    .swiper-wrapper
      .services-prev__item.swiper-slide(style="background-image: url('static/images/content/services-prev-1.jpg')")
        img(src="static/images/content/icon-serv-1.svg", alt="").services-prev__icon
        p.services-prev__text <strong>Sea Freight //</strong> single stop for all sea freight services
        a(href="#").services-prev__more _view <span>more.</span>
      .services-prev__item.services-prev__item--no-bg.services-prev__item--sm-width.swiper-slide
        p.services-prev__text _our mission.
        h3.services-prev__title Delivering more
        a(href="#").services-prev__more _see how
      .services-prev__item.services-prev__item--md-width.swiper-slide(style="background-image: url('static/images/content/services-prev-2.jpg')")
        img(src="static/images/content/icon-serv-2.svg", alt="").services-prev__icon
        p.services-prev__text <strong>Warehousing //</strong> 1000m2 customs bonded space
        a(href="#").services-prev__more _view more.
      .services-prev__item.swiper-slide(style="background-image: url('static/images/content/services-prev-1.jpg')")
        img(src="static/images/content/icon-serv-1.svg", alt="").services-prev__icon
        p.services-prev__text <strong>Sea Freight //</strong> single stop for all sea freight services
        a(href="#").services-prev__more _view <span>more.</span>

  .services-prev.swiper-container
    .swiper-wrapper
      .services-prev__item.services-prev__item--md-width.swiper-slide(style="background-image: url('static/images/content/services-prev-3.jpg')")
        img(src="static/images/content/icon-serv-3.svg", alt="").services-prev__icon
        p.services-prev__text <strong>Air Freight //</strong> single stop for all air freight services
        a(href="#").services-prev__more _view <span>more.</span>
      .services-prev__item.swiper-slide(style="background-image: url('static/images/content/services-prev-4.jpg')")
        img(src="static/images/content/icon-serv-4.svg", alt="").services-prev__icon
        p.services-prev__text <strong>Road Freight //</strong> single stop for all road freight services
        a(href="#").services-prev__more _view <span>more.</span>
      .services-prev__item.services-prev__item--md-width.swiper-slide(style="background-image: url('static/images/content/services-prev-5.jpg')")
        img(src="static/images/content/icon-serv-5.svg", alt="").services-prev__icon
        p.services-prev__text <strong>Project Cargo //</strong> oversized cargo anywhere worldwide
        a(href="#").services-prev__more _view more.
      .services-prev__item.swiper-slide(style="background-image: url('static/images/content/services-prev-1.jpg')")
        img(src="static/images/content/icon-serv-1.svg", alt="").services-prev__icon
        p.services-prev__text <strong>Sea Freight //</strong> single stop for all sea freight services
        a(href="#").services-prev__more _view <span>more.</span>