section.s-map
  .container
    .map
      .world-map
      ul.map__list
        li.na North America
        li.csa Central and South America
        li.wee Western and Eastern Europe
        li.me The Middle East
        li.asia Asia
        li.africa Africa