section.section-text
  .container
    .bd-b
      .row
        .col-md-6.col-xl-5.offset-xl-1
          .section-text__left
            .text-28
              p Connecting to the digital world to find your freight solutions to take your business to the next level.
        .col-md-6.col-xl-5.offset-xl-1
          .section-text__right
            p The digital world is evolving every minute, every second and at rapidly pace. 
            p At Logfret, we understand the need to stay connected and constant communication is important. Our team is well equipped to manage our customer’s needs across the globe, offering our logistics expertise to customers globally. 
    .row.section-text__row
      .col-md-3.col-xl-2.offset-xl-2
        .section-text__icon-wrap
          img(src="static/images/content/icon-box.png", alt="")
      .col-md-9.col-xl-7
        .section-text__bottom
          p We have a strong working partnership with our agents/partners where we do not have a presence.
          p Wherever you are, trust that Logfret has the solutions for you. Always ready to offer knowledge and expertise to manage all your logistics needs.
